@import "../../style/reset";
@import "../../style/variables";

html {
  background-color: #789ABB;
  * {
    font-family: Helvetica Neue, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: none;
    #app {
      flex: 1;
    }
  }
}

h1 {
  text-align: center;
  font-size: 15px;
  color: $blackColor;
}

.main-container {
  height: 100%;
  .page-container {
    height: 900px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.footer {
  flex: none;
  padding: 1.0rem;
  background: #374655;
  font-size: 14px;
  text-align: center;

  a {
    text-decoration: none;
    color: white;
  }
}