@import "../../style/variables";

.form-group {
  position: relative
}

.icons-container {
  position: absolute;
  top: 0px;
  width: 35px;
  height: 35px;
  overflow: hidden;
  right: 3px;
}

.icon-search {
  position: absolute;
  top: 9px;
  left: 8px;
  width: 50%;
  height: 50%;
  opacity: 1;
  color: $slightlyblue;
  transition: opacity 0.25s ease, transform 0.43s $snappy;
  -webkit-text-stroke: 2px white;
}

.icon-close {
  position: absolute;
  top: 6px;
  right: 0px;
  width: 75%;
  height: 75%;
  opacity: 0;
  cursor: pointer;
  transform: translateX(-200%);
  border-radius: 50%;
  color: $slightlyblue;
  transition: opacity 0.25s ease, transform 0.43s $snappy;
  -webkit-text-stroke: 5px white;
  font-size: 1.8em;
}

.city-form-container {
  &.header-city-form {
    form {
      input {
        border: 0;
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        background: white;
        border-radius: 3px;
        box-shadow: 0px 8px 15px rgba($tundora, 0.2);
        transition: all 0.4s ease;
        outline: none;
        &:focus {
          box-shadow: 0px 9px 20px rgba($tundora, 0.45);
          + .icons-container {
            .icon-close {
              opacity: 1;
              transform: translateX(0);
            }
            .icon-search {
              opacity: 0;
              transform: translateX(200%);
            }
          }
        }
      }
    }
  }
}