@import "../../style/variables";
@import "../../style/mixins";

.home {
  #cities-container {
    .city-weather {
      position: relative;
      @include fadeInEffect(1s)
      padding: 20px;
      .remove-city {
        position: absolute;
        top: 25px;
        right: 25px;
        color: darken($whiteColor, 30%);
      }
      .inner-container {
        height: 420px;
        border-radius: 5px;
        background-color: white;
        padding: 15px;
        h1, .weather-description {
          @include flexCenter();
          word-break: break-word;
        }
        .weather-description {
          height: 35px;
        }
      }
      &.add-city-block {
        .inner-container {
          @include flexCenter();
          .add-city {
            display: block;
            color: $whiteColor;
            font-size: 100px;
            @include fadeInEffect(0.5s);
            transition: all 0.5s ease;
            &:hover {
              transform: scale(1.2);
            }
          }
          .add-city-form {
            display: none;
            button {
              width: 100%;
              margin-top: 10px;
            }
          }
        }
        &.form-displayed {
          .inner-container {
            .add-city {
              display: none;
            }
            .add-city-form {
              display: block;
              @include fadeInEffect(0.5s)
            }
          }
        }
      }
      &.removed {
        @include fadeOutEffect(0.5s);
      }
    }
  }
}