@import "../../style/variables";
@import "../../style/mixins";

.weatherCityPage {
  width: 100%;
  min-height: 550px;
  margin: 0px;
  padding: 20px 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .home-link {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: $whiteColor;
    color: $blackColor;
    z-index: 9;
    border: none;
    border-radius: 50%;
    padding: 10px 14px 8px 11px;
    text-align: center;
    opacity: 0.7;
    transition: opacity 0.5s ease;
    &:hover {
      opacity: 1;
    }
  }
  .city-background {
    filter: blur(250px);
    -webkit-filter: blur(250px); 
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    transform: scale(2);
    @include fadeInEffect(2s)
  }

  .cityTitle {
    font-size: 24px;
    font-weight: 600;
  }

  .forecast-container {
    margin-top: 10px;
    
    ul {
      display: flex;
      flex: 1;
      flex-direction: row;
      .forecast-element {
        flex: 15%;
        width: 100px;
        height: 250px;
        margin-left: 10px;
        padding: 8px;

        &:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,.12), 0 0 1px 1px rgba(0,0,0,.08);
        }

        .forecast-day {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 10px;
          margin-top: 15px;
        }

        .forecast-dayOfMonth {
          margin-bottom: 15px;
        }

        .forecast-description{
          text-transform: capitalize;
          margin-top: 20px;
          font-size: 12px;
        }

        .day-temp {
          font-size: 25px;
          display: block;
          span {
            min-width: 120px;
          }
        }
      }
    }
  }

  .weather-details {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: $whiteColor;
    display: flex;
    width: 1100px;
    height: 500px;

    .days-icon {
      font-size: 25px;
      padding: 15px 0;
      filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
    }
    .details-section {
      flex: 65%;
      display: flex;
      flex-direction: column;
      padding: 40px;
      p {
        margin-bottom: 15px;
      }
    }
    .details-back {
      flex: 35%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

.title-temperature {
  font-size: 60px;
  span {
    min-width: 120px;
    margin-rigt: 30px;
  }
}
  
.flickr_img {
  position: relative;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 2000px color(var(--c_main) alpha(30%));
}

}

