@import "../../style/variables";
@import "../../style/mixins";

.weather-card {
  text-align: center;
  background-color: $whiteColor;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  padding: 15px;
  h1 {
    margin-bottom: 30px;
  }
}

.weather-icon {
  font-size: 50px;
  padding: 15px 0;
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.weather-description {
  text-transform: capitalize;
  font-size: 15px;
}
.weather-temperature-card {
  margin-top: 30px;
  font-size: 60px;
  span {
    top: -18px;
    position: relative;
  }
}
.weather-additionals {
  padding-left: 0;
  margin-top: 20px;
  display: flex;

  .center {
    border-width: 0 1px 0 1px;
  }
  .addictional-section {
    flex: 50%;
    border-style: solid;
    border-color: #eceaea;
  }
  .additional-value {
    font-weight: 900;
  }
  span {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
  }
}
.weather-sun {
  padding-left: 0;
  width: 100%;
  display: flex;
  .iconSet {
    flex: 33.33%;
  }
  .icon {
    display: inline-block;
  }
  .icon_size_24 {
    width: 24px;
    height: 24px;
  }
  .icons_sunrise {
    background-image: url('../../assets/weather-icons/sunrise.svg');
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
  }
  .icons_sunset {
    background-image: url('../../assets/weather-icons/sunset.svg');
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
  }
  .sunTitle {

  }
}

.detail-button {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 45%;
  min-width: 250px;
  margin: 10px;
  button {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 50%;
    height: 50px;
    border: 2px solid #3aabff;
    border-radius: 40px;
    background: transparent;
    color: #3aabff;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    &:hover {
      background-color: #3aabff;
      color: #fff;
    }
    &:focus {
      outline: none;
    }
    span {
      -webkit-transition: opacity 0.3s 0.1s;
      transition: opacity 0.3s 0.1s;
    }
  }
}
